<div class="simoney">
    <div class="simoney_main">
        <ul>
            <li><img src="@Url.Content("~/Content/images/tubiao.png")" /><dd>6大</dd><dt>工控设计门类</dt></li>
            <li><img src="@Url.Content("~/Content/images/tubiao.png")" /><dd>6大</dd><dt>工控设计门类</dt></li>
            <li><img src="@Url.Content("~/Content/images/tubiao.png")" /><dd>6大</dd><dt>工控设计门类</dt></li>
            <li><img src="@Url.Content("~/Content/images/tubiao.png")" /><dd>6大</dd><dt>工控设计门类</dt></li>
            <li><img src="@Url.Content("~/Content/images/tubiao.png")" /><dd>6大</dd><dt>工控设计门类</dt></li>
            <li><img src="@Url.Content("~/Content/images/tubiao.png")" /><dd>6大</dd><dt>工控设计门类</dt></li>
        </ul>
    </div>
</div>